// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import '@fortawesome/fontawesome-free/css/all.css';


@import 'aside_menu';


@import 'select2/dist/css/select2.css';
@import "select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css";

@import 'home'